<section ng-controller="FriendsController">
  <div class="page-header">
    <h1>{{ 'FRIEND_ADD_HEADER' | translate }}</h1>
  </div>
  <div class="col-md-12">
    <form name="friendForm" class="form-horizontal" ng-submit="create(friendForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="friendName">{{ 'FRIEND_ADD_NAME' | translate }}</label>
          <input name="friendName" type="text" ng-model="friendName" id="friendName" class="form-control" placeholder="{{ 'FRIEND_ADD_NAME' | translate }}" required>
          <div ng-messages="friendForm.friendName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'FRIEND_ADD_NAME_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="friendPhone">{{ 'FRIEND_ADD_PHONE' | translate }}</label>
          <input name="friendPhone" type="text" ng-model="friendPhone" id="friendPhone" class="form-control" placeholder="{{ 'FRIEND_ADD_PHONE' | translate }}" required>
          <div ng-messages="friendForm.friendPhone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'FRIEND_ADD_PHONE_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
