<section ng-controller="FriendsController" ng-init="find()">
  <div class="page-header">
    <h1>Friends</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="friend in friends" ui-sref="friends.view({articleId: friend._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="friend.created | date:'mediumDate'"></span>
        by
        <span ng-bind="friend.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="friend.title"></h4>
      <p class="list-group-item-text" ng-bind="friend.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="friends.$resolved && !friends.length">
    No articles yet, why don't you <a ui-sref="friends.create">create one</a>?
  </div>
</section>
